*{
    max-width: 100%;
}

.content {
    background-color: #42a1f5;
    margin-bottom: -250px; /* Margen inferior negativo para reducir el espacio entre secciones */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* -----MENU----- */

.navbar.navbar-inverse {
    height: 75px; /* altura del menú aumentada a 75px */
    display: flex; /* establece el menú como contenedor flex */
    align-items: center; /* alinea los ítems del menú en el centro verticalmente */
    justify-content: flex-end; /* alinea los ítems del menú a la derecha horizontalmente */
    background-color: rgb(248, 129, 18);
}

.navbar.navbar-inverse .navbar-nav li a {
    color: black; /* cambia el color del enlace del menú a negro */
    text-decoration: none; /* elimina el subrayado por defecto de los enlaces */
}

.navbar.navbar-inverse .navbar-nav li a:hover {
    color: white; /* cambia el color del enlace cuando se pasa el cursor sobre él a blanco */
}

.navbar-nav {
    text-align: right;
    margin-right: 50px; /* margen derecho de 50px */
    padding-right: 50px; /* añade esto para añadir un relleno a la derecha del texto del menú */
}


/* -----SOBRE MI----- */
.content .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0; /* Elimina el margen izquierdo negativo */
    margin-bottom: -20px; /* Margen inferior negativo para superponer el contenido con el menú */
    margin-top: -50px; /* Ajusta el margen superior negativo según sea necesario */
}

.col-sm-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15%; /* Ajusta el valor a tu preferencia */
    text-align: center;  /* Centra el texto horizontalmente */
    line-height: 50px;  /* Centra el texto verticalmente */
}

.col-sm-6 h1, .col-sm-6 p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%; 
    /* Ajusta esta propiedad para que sea aproximadamente la mitad de la altura total de .col-sm-6 */
}

.col-sm-6-2 img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
    height: 300px;
    width: 300px;
    background: none;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.image-container img {
    height: 50px;
    width: 50px;
    margin-right: 20px; /* Adjust the spacing between images as needed */
}


/* -----SLIDER----- */

#myCarousel {
    margin-top: 200px; /* Ajusta el valor a tu preferencia */
}